* {
  margin: 0;
}

div {
  display: block;
  box-sizing: border-box;
}

page {
  display: block;
}

input {
  background: transparent;
  display: block;
  border: 0px;
  width: 100%
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .weapp-weappbar {
    flex: 0 0 45px;
  }
  .weapp-tabbar {
    flex: 0 0 53px;
  }
  .weapp-content {
    position: relative;
    flex: 0 1 auto;
    height: calc(100vh - 45px);
    &.showTabbar {
      height: calc(100vh - 98px);
    }
    .weapp-scroll {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      & > div {
        min-height: 100%
      }
    }
  }
}

.page {
  font-family: Microsoft yahei;
  font-size: 0.24rem;
  overflow-x: hidden;
}

button {
  border: 0px
}

table {
  border-collapse: collapse;
}
canvas {
  display: block;
}