@import '../../../common/style/page.scss';
.button_none{
	display: inline-block;
	padding-left: 0;
	padding-right: 0;

	margin-left: inherit;
	margin-right: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
	color: inherit;
	overflow: inherit;
	border-radius: 0px;
	background-color: transparent;
}
.button_none.block{
	display: block;
}
.button_none:after , .hidden{
	display: none;
}
